<!-- {% extends 'generic/object_retrieve.html' %}
{% load helpers %}
{% block content_left_page %}
<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Weather</strong>
  </div>
  <table class="table table-hover panel-body attr-table">
    <tr>
      <td>Location</td>
      <td>{{ object.location|placeholder }}</td>
    </tr>
    <tr>
      <td>Short Forecast</td>
      <td>{{ object.short_forecast|placeholder }}</td>
    </tr>
    <tr>
      <td>Temperature</td>
      <td>{{ object.temperature|placeholder }}</td>
    </tr>
    <tr>
      <td>Probability of Precipitation</td>
      <td>{{ object.probability_of_precipitation|placeholder }}</td>
    </tr>
    <tr>
      <td>Relative Humidity</td>
      <td>{{ object.relative_humidity|placeholder }}</td>
    </tr>
    <tr>
      <td>Wind Speed</td>
      <td>{{ object.wind_speed|placeholder }}</td>
    </tr>
    <tr>
      <td>Wind Direction</td>
      <td>{{ object.wind_direction|placeholder }}</td>
    </tr>
  </table>
</div>
{% endblock content_left_page %} -->
